<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
 <h1>Hello Ahmad</h1>
 <h1>تلاش کن باید موفق بشی </h1>
 <body>

 <img src="https://files.free-learn.ir/Tryitself/html/learn/images/cat.gif">
 <img src="https://files.free-learn.ir/Tryitself/html/learn/images/cat.gif">
 <img src="https://files.free-learn.ir/Tryitself/html/learn/images/cat.gif">
 <img src="https://files.free-learn.ir/Tryitself/html/learn/images/cat.gif">

 </body>
</body>
</html>
